* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*--------------------------NAVBAR----------------------*/

nav.nav-bar div.enlace a img.logo{
    max-width: 47%;
    padding-left: 10px;
}

.nav-bar{
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20%;
}

.nav-bar-accesos{
    display:none;
}
.nav-bar-accesos a{
    transition: all 200ms;
}
.nav-bar-accesos a:hover{
    color: #e0218a;
}

.fa-bars{
    margin-right: 20px;
    font-size: 28px;
}

i.fa-search:hover{
    color: #e0218a;
}

div.nav-bar-icons a i.fa-shopping-cart:hover{
    color: #e0218a;
}

div.nav-bar-icons a i.fa-shopping-cart{
    position: relative;
    left: 70%;
    font-size: 35px;
}

i.fa-user-circle{
    position: relative;
    right: -40%;
    font-size: 40px;
}

i.fa-sign-out-alt{
    position: relative;
    left: 5%;
    font-size: 40px;
}

i.fa-angrycreative{
    position: relative;
    right: -40%;
    font-size: 40px;
}

i.fa-address-card{
    position: relative;
    left: -15%;
    font-size: 40px;
}

#heart{
    position: relative;
    left: 0%;
    font-size: 30px;
}

#heart{
    color: white;
}

#heart:hover{
    color: #e0218a;
}

.search-bar{
    display: none;
}

.nav-bar-icons{
    display: none;
}

/*-----------TÚ CARRITO---------*/

div h1{
    font-size: 40px;
    text-align: center;
    margin-top: -20%;
    border-bottom: 8px solid #e0218a ;
}

/*------------BLOG CARD----------*/

.container{
    margin: 0px;
    margin-bottom: 10%;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: #ffffff;
    position: relative;
    flex: 1;
    max-width: 1000px;
    height: 300px;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px grey;
}


.row1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card1{
    background: #ffffff;
    position: relative;
    flex: 1;
    max-width: 1000px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px grey;
}

.imagen-blog{
    width: 48%;
    margin-top: 10%;
    margin-left: 6.5%;
}

.parrafo1{
    font-size: 21px;
    margin-left: 65%;
    margin-bottom: 2%;
    position:absolute;
    bottom: 60%;
    font-weight: 600
}

.parrafo2{
    font-size: 21px;
    margin-left: 65%;
    margin-bottom: 2%;
    position: relative;
    bottom: 43%;
}

.parrafo3{
    font-size: 24px;
    margin-left: 65%;
    margin-bottom: 2%;
    position: relative;
    bottom: 42%;
}

i.fa-times{
    color: black;
    font-size: 40px;
    position: absolute;
    z-index: 100;
    left: 90%;
    bottom: 6%;
    cursor: pointer;
}

i.fa-times:hover{
    color: #e0218a;

}


/*----------DESCRIPCIÓN DEL ÁLBUM-----------*/

.subtitle {
    margin-left: 5%;
    font-size: 35px;
    font-weight: 550;
    border-bottom: 6px solid #e0218a ;
}

.parrafo4 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;
    font-size: 22px;
}

.subtitle2{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 22px;
    font-weight: 650;
    color: #e0218a;
}

p.cash {
    margin-left: 70%;
    margin-top: -45px;
    margin-bottom: 15px;
    width: 120px;
}

/*-------------------BOTÓN DE COMPRAR-------------------*/

#botton {
    color: white;
    background-color: black;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 80px 20px;
    border: none;
    transition-property: all;
    transition-duration: 200ms;
    
}
#botton:hover{
    background: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

#botton p {
    margin-top: -10px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}


#botton a {
    color: white;
}

#botton i.fa-shopping-cart{
    color: white;
}

#carrito{
    color: white;
    font-size: 40px;
}

/*-------------------CONTINUE COMPRANDO----------------*/

a.shop {
    color: black;
    font-size: 21px;
    margin-left: 30%;
    font-weight: 600;
    margin-top: 20%;
}

a.shop:hover{
    color: rgb(66, 66, 66);
}

/*-------TITULO RECOMENDADOS------*/

    h2.titulo-recomendados{
        text-align: center;
        font-size: 35px;
        margin-bottom: -5%;
    }

/*--------------CARDS-----------*/

section article {
    margin: 10px 0px;
    box-shadow: 3px 5px 20px #807d7d;
    border-top: 1px #cec2ce solid;
}

.boton-carrito{
    margin-bottom: 30px;
    border:none;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 20px;
    transition-property: all;
    transition-duration: 200ms;
}

.boton-carrito:hover{
    background: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

.boton-carrito a{
    color: white;
}

/*-----------CARDS---------*/

article h5.album-title{
    font-size: 28px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: 600;
}

article h5.album-title2{
    font-size: 28px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: 500;
}

.album-price{
    font-size: 32px;
    font-weight: 500;
    position: relative;
    left: 6%;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.boton-carrito{
    margin-bottom: 30px;
    border:none;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 20px;
}

.boton-carrito a{
    color: white;
}

.ver-mas{
    align-self: center;
}

.mas-vendidos{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-top: 20px;
    margin-bottom: -15%;
}


.mas-vendidos-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 25px;
}

.mas-vendidos-album-img{
    width: 75%;
    height: auto;
    margin-left: 12%;
    padding: 30px 0px;
}

p.album-price i {
    padding-left: 70px 50px 40px;
    margin-left: 310px;
    font-size: 30px;

}

.fa-heart{
    color: black;
    cursor: pointer;
}

.fa-heart:hover{
    color: red;
    transition-property: all;
    transition-duration: 200ms;
}
.fa-heart:active{
    color: blue;
}

section i.fa-chevron-left{
    display: none;
    font-size: 70px;
    color: black;
    cursor: pointer;
    margin-top: 310px;
    transition-property: all;
    transition-duration: 200ms;
}

section i.fa-chevron-left:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

section i.fa-chevron-right{
    display: none;
    font-size: 70px;
    color: black;
    cursor: pointer;
    margin-top: 310px;
    transition-property: all;
    transition-duration: 200ms;
}

section i.fa-chevron-right:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

/*-------------------FOOTER------------------*/

footer{
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    height: 250px;
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin-top: 75px;
    transition-property: all;
    transition-duration: 200ms;
}

footer ul{
    list-style: none;
}

footer div a{
    margin: 5px
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
}

footer a:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

.footer-links{
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

div.footer-links{
    width: auto;
}

/*------------ICON SOCIAL MEDIA--------*/

.social-media-icon{
    align-self:center;
    padding: 0px 5px;
}

footer h6{
    margin:0;
    text-align: center;
    font-weight: 400;

}

section h3{
    text-align: center;

}

section article a{
    text-decoration: none;
}

div.social-media{
    margin-top: 10px;
    display: flex;
    padding: 15px;
    justify-content: center;
    transition-property: all;
    transition-duration: 200ms;
}

.fa-instagram:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

.fa-facebook:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

.fa-youtube:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

.fa-tiktok:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}



/*-----------------MEDIA QUERIE EXTRA PARA OCULTAR BUTTONS----------------*/ 

@media (max-width:767px ) {
    i.fa-plus-circle,
    i.fa-user-circle,
    i.fa-address-card,
    i.fa-sign-out-alt,
    i.fa-heart,
    i.fa-shopping-cart{
        display: none;
    }
}


/*---------------------MEDIA QUERIES DEKTOP--------------------*/

@media (min-width: 768px) {
    .search-bar{
        display: flex;
        border: none;
        height: 50px;
        margin-right: 10px;
        cursor: pointer;
    }

    .search-button{
        border:none;
        background-color: black;
        margin-left: 10px;
    }

    .search-input{
        text-align: center;
        border-radius: 20px;
        width: 300px;
        border: none;
    }

    .fa-search{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-bar-icons{
        margin-left: 150px;
        display: flex;
    }

    .fa-user-circle{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-address-card{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-angrycreative{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-sign-out-alt{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-shopping-cart{
        color: white;
        font-size: 30px;
    }
    
    .title-mas-vendidos{
        text-align: center;
    }

    .mas-vendidos{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 50px;
    }

    section .mas-vendidos h2{
        align-items: center;
    }

    .mas-vendidos-album{
        width: 35%;
    }

    .recomendados-album{
        width: 35%;
    }

    .ver-mas{
        display: block;
        text-align: center;
    }

    .social-media-icon{
        font-size: 30px;
    }

/*----------FOOTER-------*/
    footer{
        position: relative;
        top: 50px;
    }
/*----------NAVBAR--------*/
    nav .fa-bars{
        display: none;
    }

    nav .nav-bar{
        margin: auto;
    }

    .nav-bar{
        display: flex;
        height: 110px;
        justify-content: space-around;
        padding-left: 200px;
        padding-right: 200px;
    }

    .nav-bar-accesos{
        display: flex;
    }

    .nav-bar-accesos li{
        margin-right: 15px;
        list-style: none;
        font-weight: 700;
    }

    .nav-bar-accesos li a{
        text-decoration: none;
        color: white;
    }

    nav.nav-bar div.enlace a img.logo{
        max-height: 85px;
        min-width: 190px;
    }

    .nav-bar-icons{
        margin-right: 150px;
    }
    
    .search-bar{
        display: flex;
        border: none;
        height: 50px;
        margin-right: 10px;
    }

    .search-button{
        border:none;
        background-color: black;
        margin-left: 10px;
    }

    .search-input{
        text-align: center;
        border-radius: 20px;
        width: 300px;
        border: none;
    }

    .fa-search{
        color: white;
        font-size: 30px;
    }
    
    .nav-bar-icons{
        margin-left: 150px;
        display: flex;
    }
    .fa-user-circle{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-user-circle:hover{
        color: #e0218a;
    }

    .fa-address-card{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-address-card:hover{
        color: #e0218a;
    }

    .fa-angrycreative{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-angrycreative:hover{
        color: #e0218a;
    }

    .fa-sign-out-alt{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-sign-out-alt:hover{
        color: #e0218a;
    }

    .fa-shopping-cart{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-shopping-cart:hover{
        color: #e0218a;
    }

/*-----CARDS-----*/
section.mas-vendidos{
    transform: scale(0.6);
    position: relative;
    right: 16.5%;
    position: relative;
    top: -50px;
}
article.mas-vendidos-album p.album-price{
    font-size: 45px;
    position: relative;
    left: 2%;
}
button.boton-carrito{
    position: relative;
    top: -20px;
    font-size: 30px;
}
button.boton-carrito a{
    font-size: 25px;
}
section article.mas-vendidos-album p.album-price a i.fa-heart{
    font-size: 50px;
    position: relative;
    top: -50%;
    right: 5%;
}


section i.fa-chevron-left{
    display: flex;
    font-size: 70px;
    color: black;
    cursor: pointer;
    margin-top: 310px;
    transition-property: all;
    transition-duration: 200ms;
}

section i.fa-chevron-left:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}

section i.fa-chevron-right{
    display: flex;
    font-size: 70px;
    color: black;
    cursor: pointer;
    margin-top: 310px;
    transition-property: all;
    transition-duration: 200ms;
}

section i.fa-chevron-right:hover{
    color: #e0218a;
    transition-property: all;
    transition-duration: 200ms;
}
section article h5.album-title{
    font-size: 27.5px;
    }
div h1{
    margin-top: -18%;
    margin-bottom: 4%;
    border-bottom: 8px solid #e0218a;
}
.card{
    flex: 100%;
    height: 300px;
}
/*-------BOTÓN CHECKOUT------*/
#botton{
    position: relative;
    top: -150px;
    left: 58.5%;
    color: white;
    }

/*---------Continue comprando-------*/
    a.shop{
        position: relative;
        left: 47%;
        top: -150px;
        bottom: 40px;
    }
    p.cash{
        margin-left: 80%;
    }
/*-------HOVER BLOG CARDS------*/

/* .card:hover{
    background: #e0218a;
}

.card1:hover{
    background: #000000;
} */

/*------IMAGEN BLOG CARD-----*/
.imagen-blog{
    width: 25%;
    margin-top: 2%;
    margin-left: 4%;
    transition-property: all;
    transition-duration: 600ms;
}
.imagen-blog:hover{
    transform: translateX(-80px);
    transition-property: all;
    transition-duration: 600ms;
}
/*-------PARRAFOS DE BLOG CARD-----*/
.parrafo1{
    font-size: 30px;
    margin-left: 40%;
    margin-bottom: 2%;
    position: relative;
    bottom: 75%;
    font-weight: 600
}

.parrafo2{
    font-size: 26px;
    margin-left: 40%;
    margin-bottom: 2%;
    position: relative;
    bottom: 73%;
}

.parrafo3{
    font-size: 30px;
    margin-left: 40%;
    margin-bottom: 2%;
    position: relative;
    bottom: 70%;
}
h2.titulo-recomendados{
    margin-top: -5%;
}
.container{
    margin-bottom: 2%;
}
.fa-plus-circle{
    color: white;
    font-size: 40px;
    margin: 0px 15px;
}
.fa-plus-circle:hover{
    color: #e0218a;
    transition: 200ms all;
}
}

/*--------------MEDIA QUERIES MOBILE--------------*/

@media screen and (min-width: 450px) {

    button.botton p i.fa-shopping-cart {
        position: relative;
        left: 5%;
    }
    div#album{
        position: relative;
        left: 7%;
    }
    article p.album-price a i.fa-heart{
        font-size: 50px;
        position: relative;
        bottom: 50px;
        right: 18%;
        transition-property: all;
        transition-duration: 200ms;
    }
    article h5.album-title{
        font-size: 25px;
    }
    button.boton-carrito{
        position: relative;
        top: -20px;
        font-size: 25px;
    }
    button.boton-carrito a{
        font-size: 23px;
    }
    p.album-price{
        font-size: 45px;
        position: relative;
        left: 15%;
    }
    article p.album-price{
        font-size: 45px;
        position: relative;
        left: 7.8%;
    }
    p.uno i.fa-window-minimize{
        display: none;
        position: relative;
        left: 650px;
        top: -180px;
        font-size: 40px;
        cursor: pointer;
        color: #201f20;
    }
    p.uno i.fa-window-minimize:hover{
        color: #e0218a;
    }

    p.dos i.fa-window-minimize{
        display: none;
        position: relative;
        left: 700px;
        top: -220px;
        font-size: 40px;
        cursor: pointer;
        color: #201f20;
    }
    p.dos i.fa-window-minimize:hover{
        color: #e0218a;
    }
    .checkbtn {
        display: block;
    }
    #botton{
        margin-left: 10%;
    }
    .recomendados{
        position: relative;
        right: 5%;
    }
    p.cash{
        font-size: 38px;
        font-weight: 650;
        width: 105px;
        position: relative;
        left: -40px;
    }
    a.shop{
        position: relative;
        margin-left: 28%;
    }
    h2.titulo-recomendados{
        margin-bottom: -5%;
    }
}