* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*--------------------------NAVBAR----------------------*/

nav.nav-bar div.enlace a img.logo{
    max-width: 47%;
    padding-left: 10px;
}

.nav-bar{
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-bar-accesos{
    display:none;
}
.nav-bar-accesos a{
    transition: all 200ms;
}
.nav-bar-accesos a:hover{
    color: #e0218a;
}

.fa-bars{
    margin-right: 20px;
    font-size: 28px;
    cursor: pointer;
}

i.fa-search:hover{
    color: #e0218a;
}

div.nav-bar-icons a i.fa-shopping-cart:hover{
    color: #e0218a;
}

div.nav-bar-icons a i.fa-shopping-cart{
    position: relative;
    left: 70%;
    font-size: 35px;
}

i.fa-user-circle{
    position: relative;
    right: -40%;
    font-size: 40px;
}

i.fa-plus-circle{
    position: relative;
    right: -40%;
    font-size: 40px;
}

#heart{
    position: relative;
    left: 0%;
    font-size: 30px;
}

#heart{
    color: white;
}

#heart:hover{
    color: #e0218a;
}

i.fa-address-card{
    position: relative;
    left: -15%;
    font-size: 40px;
}

i.fa-sign-out-alt{
    position: relative;
    left: 5%;
    font-size: 40px;
}

.search-bar{
    display: none;
}

.nav-bar-icons{
    display: none;
}

/*------------------------BANNER----------------------*/

div.carrousel{
    
    margin: 100px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

div.carrousel ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
}

div.carrousel li{
    width: 100%;
    list-style: none;
}

div.carrousel img{
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75%  {margin-left: -300%;}
    100% {margin-left: -300%;}

}

/*------------------------------CARDS---------------------------*/

.section-title{
    font-size: 35px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: #e0218a solid 8px;
    text-align: center;
}

section article {
    margin: 10px 0px;
    box-shadow: 3px 5px 20px #807d7d;
    border-top: 1px #cec2ce solid;
}

article p.album-price a i.fa-heart{
    font-size: 50px;
    position: relative;
    bottom: 50px;
    right: 15%;
}

.boton-carrito{
    margin-bottom: 30px;
    border:none;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 20px;
}

.boton-carrito:hover{
    background: #e0218a;
}

.boton-carrito a{
    color: white;
}


article h5.album-title{
    font-size: 28px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: 600;
}

article h5.album-title2{
    font-size: 28px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: 500;
}

.album-price{
    font-size: 32px;
    font-weight: 500;
    position: relative;
    left: 6%;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.boton-carrito{
    margin-bottom: 30px;
    border:none;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 20px;
}

.boton-carrito a{
    color: white;
}

.ver-mas{
    align-self: center;
}

.mas-vendidos{
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    margin-top: 20px;
}


.mas-vendidos-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 25px;
}

.mas-vendidos-album-img{
    width: 75%;
    margin-left: 12%;
    height: auto;
    padding: 30px 0px;
}

p.album-price i {
    padding-left: 70px 50px 40px;
    margin-left: 310px;
    font-size: 30px;

}

.fa-heart{
    color: black;
    cursor: pointer;
}

/* .fa-heart:hover{
    color: red;
}

.fa-heart:active{
    color: blue;
} */

section i.fa-chevron-left{
    display: none;
    font-size: 70px;
    color: black;
    cursor: pointer;
    margin-top: 310px;
}

section i.fa-chevron-left:hover{
    color: #e0218a;
}

section i.fa-chevron-right{
    display: none;
    font-size: 70px;
    color: black;
    cursor: pointer;
    margin-top: 310px;
}

section i.fa-chevron-right:hover{
    color: #e0218a;
}

/*----------------------------BANNER-------------------------*/

.populares{
    display: flex;
}

/*--------------------------GENEROS------------------------*/
.section-title{
    margin-bottom: 30px;
}

.generos{
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generos a{
    color: white;
}

.generos-rock{
    background-color: #bf260f;
    width: 100%;
    text-align: center;
}

.generos-pop{
    background-color: #ff5eb4;
    width: 100%;
    text-align: center;
}


.generos-urbana{
    background-color: #fab505;
    width: 100%;
    text-align: center;
}


.generos-clasica{
    background-color: #4984d6;
    width: 100%;
    text-align: center;
}

.generos-ryb{
    background-color: #7100eb;
    width: 100%;
    text-align: center;
}

.generos-electronica{
    background-color: #06c968;
    width: 100%;
    text-align: center;
}

.generos-rock,
.generos-clasica,
.generos-electronica,
.generos-pop,
.generos-ryb,
.generos-urbana{
    height: 60px;
    ;
}

article h2{
    margin-top: 15px;
}

/*------------------BOTÓN VER MÁS-----------------*/

div button.verMas{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: -30%;
    color: rgb(255, 255, 255);
    padding: 0.6em;
    transition: all 200ms;
    border: none;
    cursor: pointer;
    margin-top: 9%;
    margin-left: 37%;
}

div button:hover{
    background-color: #e0218a;
}

/*-------------------FOOTER------------------*/

footer{
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    /* height: 250px; */
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin-top: 75px;
}

footer ul{
    list-style: none;
}

footer div a{
    margin: 5px
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
}

footer a:hover{
    color: #e0218a;
}

.footer-links{
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

div.footer-links{
    width: auto;
}

/*------------ICON SOCIAL MEDIA--------*/

.social-media-icon{
    align-self:center;
    padding: 0px 5px;
}

footer h6{
    margin:0;
    text-align: center;
    font-weight: 400;

}

section h3{
    text-align: center;

}

section article a{
    text-decoration: none;
}

div.social-media{
    margin-top: 10px;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.fa-instagram:hover{
    color: #e0218a;
}

.fa-facebook:hover{
    color: #e0218a;
}

.fa-youtube:hover{
    color: #e0218a;
}

.fa-tiktok:hover{
    color: #e0218a;
}



/*-----------------MEDIA QUERIE EXTRA PARA OCULTAR BUTTONS----------------*/ 

@media (max-width:767px ) {
    i.fa-plus-circle,
    i.fa-user-circle,
    i.fa-address-card,
    i.fa-sign-out-alt,
    i.fa-heart,
    i.fa-shopping-cart{
        display: none;
    }
}


/*---------------------MEDIA QUERIES DESKTOP--------------------*/

@media (min-width: 768px) {
    .search-bar{
        display: flex;
        border: none;
        height: 50px;
        margin-right: 10px;
        cursor: pointer;
    }

    .search-button{
        border:none;
        background-color: black;
        margin-left: 10px;
    }

    .search-input{
        text-align: center;
        border-radius: 20px;
        width: 300px;
        border: none;
    }

    .fa-search{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-bar-icons{
        margin-left: 150px;
        display: flex;
    }

    .fa-user-circle{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-plus-circle{
        color: white;
        font-size: 40px;
        margin: 0px 15px;
    }
    .fa-plus-circle:hover{
        color: #e0218a;
        transition: 200ms all;
    }

    .fa-address-card{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-sign-out-alt{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-shopping-cart{
        color: white;
        font-size: 30px;
    }
    
    .title-mas-vendidos{
        text-align: center;
    }

    .mas-vendidos{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 50px;
    }

    section .mas-vendidos h2{
        align-items: center;
    }

    .mas-vendidos-album{
        width: 35%;
    }

    .recomendados-album{
        width: 35%;
    }

    .ver-mas{
        display: block;
        text-align: center;
    }

    .social-media-icon{
        font-size: 30px;
    }

/*----------FOOTER-------*/
    footer{
        position: relative;
        top: 50px;
    }
/*----------NAVBAR--------*/
    nav .fa-bars{
        display: none;
    }

    nav .nav-bar{
        margin: auto;
    }

    .nav-bar{
        display: flex;
        height: 110px;
        justify-content: space-around;
        padding-left: 200px;
        padding-right: 200px;
    }

    .nav-bar-accesos{
        display: flex;
    }

    .nav-bar-accesos li{
        margin-right: 15px;
        list-style: none;
        font-weight: 700;
    }

    .nav-bar-accesos li a{
        text-decoration: none;
        color: white;
    }

    nav.nav-bar div.enlace a img.logo{
        max-height: 85px;
        min-width: 190px;
    }

    .nav-bar-icons{
        margin-right: 150px;
    }
    
    .search-bar{
        display: flex;
        border: none;
        height: 50px;
        margin-right: 10px;
    }

    .search-button{
        border:none;
        background-color: black;
        margin-left: 10px;
    }

    .search-input{
        text-align: center;
        border-radius: 20px;
        width: 300px;
        border: none;
    }

    .fa-search{
        color: white;
        font-size: 30px;
    }
    
    .nav-bar-icons{
        margin-left: 150px;
        display: flex;
    }
    .fa-user-circle{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-user-circle:hover{
        color: #e0218a;
    }

    .fa-address-card{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-address-card:hover{
        color: #e0218a;
    }

    .fa-plus-circle{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-plus-circle:hover{
        color: #e0218a;
    }

    .fa-sign-out-alt{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-sign-out-alt:hover{
        color: #e0218a;
    }

    .fa-shopping-cart{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-shopping-cart:hover{
        color: #e0218a;
    }

    section.mas-vendidos{
        transform: scale(0.6);
        position: relative;
        right: 16.5%;
        position: relative;
        top: -50px;
    }
    article.mas-vendidos-album p.album-price{
        font-size: 45px;
        position: relative;
        left: 2%;
    }
    button.boton-carrito{
        position: relative;
        top: -20px;
        font-size: 30px;
    }
    button.boton-carrito a{
        font-size: 25px;
    }
    section article.mas-vendidos-album p.album-price a i.fa-heart{
        font-size: 50px;
        position: relative;
        top: -50%;
        right: 5%;
    }


    section i.fa-chevron-left{
        display: flex;
        font-size: 70px;
        color: black;
        cursor: pointer;
        margin-top: 310px;
    }

    section i.fa-chevron-left:hover{
        color: #e0218a;
    }

    section i.fa-chevron-right{
        display: flex;
        font-size: 70px;
        color: black;
        cursor: pointer;
        margin-top: 310px;
    }
    div button.verMas{
        margin-top: -10%;
        margin-left: 46%;
    }

    section i.fa-chevron-right:hover{
        color: #e0218a;
    }
    section article h5.album-title{
        font-size: 27.5px;
    }

    /*----------------------GENEROS----------------------*/
    .generos-rock,
    .generos-clasica,
    .generos-electronica,
    .generos-pop,
    .generos-ryb,
    .generos-urbana{
        width: 75%;
    }
    .generos-rock:hover,
    .generos-clasica:hover,
    .generos-electronica:hover,
    .generos-pop:hover,
    .generos-ryb:hover,
    .generos-urbana:hover{
        transition: all 200ms;
        width: 80%;
}  




/*-----------------------------MEDIA QUERIES MOBILE-------------------------*/

@media screen and (min-width: 450px) {


    article h5.album-title{
        font-size: 25px;
    }
    button.boton-carrito{
        position: relative;
        top: -20px;
        font-size: 25px;
    }
    button.boton-carrito a{
        font-size: 23px;
    }
    p.album-price{
        font-size: 45px;
        position: relative;
        left: 15%;
    }
    article p.album-price{
        font-size: 45px;
        position: relative;
        left: 7.8%;
    }
    div.lista-numerica{
        margin-top:0.5%;
    }
    button.botton p i.fa-shopping-cart {
        position: relative;
        left: 5%;
    }
    div#album{
        position: relative;
        left: 7%;
    }
    article p.album-price a i.fa-heart{
        font-size: 50px;
        position: relative;
        bottom: 50px;
        right: 18%;
    }
    article h5.album-title{
        font-size: 25px;
    }
    button.boton-carrito{
        position: relative;
        top: -20px;
        font-size: 25px;
    }
    button.boton-carrito a{
        font-size: 23px;
    }
    p.album-price{
        font-size: 45px;
        position: relative;
        left: 15%;
    }
    article p.album-price{
        font-size: 45px;
        position: relative;
        left: 7.8%;
    }
    p.uno i.fa-window-minimize{
        display: none;
        position: relative;
        left: 650px;
        top: -180px;
        font-size: 40px;
        cursor: pointer;
        color: #201f20;
    }
    p.uno i.fa-window-minimize:hover{
        color: #e0218a;
    }

    p.dos i.fa-window-minimize{
        display: none;
        position: relative;
        left: 700px;
        top: -220px;
        font-size: 40px;
        cursor: pointer;
        color: #201f20;
    }
    p.dos i.fa-window-minimize:hover{
        color: #e0218a;
        }
    }
}