* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*--------------------------NAVBAR----------------------*/

nav.nav-bar div.enlace a img.logo{
    max-width: 47%;
    padding-left: 10px;
}

.nav-bar{
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20%;
}

.nav-bar-accesos{
    display:none;
}
.nav-bar-accesos a{
    transition: all 200ms;
}
.nav-bar-accesos a:hover{
    color: #e0218a;
    transition: all 200ms
}

.fa-bars{
    margin-right: 20px;
    font-size: 28px;
    transition: all 200ms
}

i.fa-search:hover{
    color: #e0218a;
    transition: all 200ms
}

div.nav-bar-icons a i.fa-shopping-cart:hover{
    color: #e0218a;
    transition: all 200ms
}

div.nav-bar-icons a i.fa-shopping-cart{
    position: relative;
    left: 70%;
    font-size: 35px;
    transition: all 200ms
}

i.fa-user-circle{
    position: relative;
    right: -40%;
    font-size: 40px;
    transition: all 200ms
}

i.fa-angrycreative{
    position: relative;
    right: -40%;
    font-size: 40px;
}

i.fa-address-card{
    position: relative;
    left: -15%;
    font-size: 40px;
}

i.fa-sign-out-alt{
    position: relative;
    left: 5%;
    font-size: 40px;
}

#heart{
    position: relative;
    left: 0%;
    font-size: 30px;
}

#heart{
    color: white;
}

#heart:hover{
    color: #e0218a;
}

.search-bar{
    display: none;
}

.nav-bar-icons{
    display: none;
}

/*------------------ERROR 404---------------*/

.error{
    font-size: 30px;
    text-align: center;
    color: #e0218a;
}

.fa-exclamation-circle{
    font-size: 70px;
    color: #e0218a;
    position: relative;
    left: 43%;
}

/*-----------GATO---------*/

#gato{
    position: relative;
    left: 25%;
    width: 60%;
}

/*-------------------FOOTER------------------*/

footer{
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    height: 250px;
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin-top: 75px;
}

footer ul{
    list-style: none;
}

footer div a{
    margin: 5px
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    transition: all 200ms
}

footer a:hover{
    color: #e0218a;
    transition: all 200ms
}

.footer-links{
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

div.footer-links{
    width: auto;
}

/*------------ICON SOCIAL MEDIA--------*/

.social-media-icon{
    align-self:center;
    padding: 0px 5px;
}

footer h6{
    margin:0;
    text-align: center;
    font-weight: 400;

}

section h3{
    text-align: center;

}

section article a{
    text-decoration: none;
}

div.social-media{
    margin-top: 10px;
    display: flex;
    padding: 15px;
    justify-content: center;
    transition: all 200ms
}

.fa-instagram:hover{
    color: #e0218a;
    transition: all 200ms
}

.fa-facebook:hover{
    color: #e0218a;
    transition: all 200ms
}

.fa-youtube:hover{
    color: #e0218a;
    transition: all 200ms
}

.fa-tiktok:hover{
    color: #e0218a;
    transition: all 200ms
}

/*-----------------MEDIA QUERIE EXTRA PARA OCULTAR BUTTONS----------------*/ 

@media (max-width:767px ) {
    i.fa-plus-circle,
    i.fa-user-circle,
    i.fa-address-card,
    i.fa-sign-out-alt,
    i.fa-heart,
    i.fa-shopping-cart{
        display: none;
    }
}


/*---------------------MEDIA QUERIES DEKTOP--------------------*/

@media (min-width: 768px) {
    .search-bar{
        display: flex;
        border: none;
        height: 50px;
        margin-right: 10px;
        cursor: pointer;
    }

    .search-button{
        border:none;
        background-color: black;
        margin-left: 10px;
    }

    .search-input{
        text-align: center;
        border-radius: 20px;
        width: 300px;
        border: none;
    }

    .fa-search{
        color: white;
        font-size: 30px;
    }

    .nav-bar-icons{
        margin-left: 150px;
        display: flex;
    }

    .fa-user-circle{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-plus-circle{
        color: white;
        font-size: 40px;
        margin: 0px 15px;
    }
    .fa-plus-circle:hover{
        color: #e0218a;
        transition: 200ms all;
    }
    

    .fa-sign-out-alt{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-address-card{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
    }

    .fa-shopping-cart{
        color: white;
        font-size: 30px;
    }
    
    .title-mas-vendidos{
        text-align: center;
    }

    .mas-vendidos{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 50px;
    }

    section .mas-vendidos h2{
        align-items: center;
    }

    .mas-vendidos-album{
        width: 35%;
    }

    .recomendados-album{
        width: 35%;
    }

    .ver-mas{
        display: block;
        text-align: center;
    }

    .social-media-icon{
        font-size: 30px;
    }

/*----------FOOTER-------*/
    footer{
        position: relative;
        top: 50px;
    }
/*----------NAVBAR--------*/
    nav .fa-bars{
        display: none;
    }

    nav .nav-bar{
        margin: auto;
    }

    .nav-bar{
        display: flex;
        height: 110px;
        justify-content: space-around;
        padding-left: 200px;
        padding-right: 200px;
    }

    .nav-bar-accesos{
        display: flex;
    }

    .nav-bar-accesos li{
        margin-right: 15px;
        list-style: none;
        font-weight: 700;
    }

    .nav-bar-accesos li a{
        text-decoration: none;
        color: white;
    }

    nav.nav-bar div.enlace a img.logo{
        max-height: 85px;
        min-width: 190px;
    }

    .nav-bar-icons{
        margin-right: 150px;
    }
    
    .search-bar{
        display: flex;
        border: none;
        height: 50px;
        margin-right: 10px;
    }

    .search-button{
        border:none;
        background-color: black;
        margin-left: 10px;
    }

    .search-input{
        text-align: center;
        border-radius: 20px;
        width: 300px;
        border: none;
    }

    .fa-search{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    
    .nav-bar-icons{
        margin-left: 150px;
        display: flex;
    }
    .fa-user-circle{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-user-circle:hover{
        color: #e0218a;
        transition: all 200ms
    }

    .fa-angrycreative{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-angrycreative:hover{
        color: #e0218a;
    }

    .fa-sign-out-alt{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-sign-out-alt:hover{
        color: #e0218a;
    }

    .fa-shopping-cart{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-shopping-cart:hover{
        color: #e0218a;
    }

    .fa-address-card{
        color: white;
        font-size: 30px;
        margin: 0px 15px;
        transition: all 200ms;
    }

    .fa-address-card:hover{
        color: #e0218a;
    }
/*------------------ERROR 404---------------*/

    .error{
        font-size: 70px;
        text-align: center;
        color: #e0218a;
        margin-top: -12%;
    }
    
    .fa-exclamation-circle{
        font-size: 120px;
        color: #e0218a;
        position: relative;
        left: 46%;
    }

    .fa-exclamation-circle:hover{
        color: black;
    }
    /*-------------GATO---------*/
    #gato{
        position: relative;
        left: 40%;
        width: 22%;
    }
}



/*-----------------------------MEDIA QUERIES MOBILE-------------------------*/

@media screen and (min-width: 450px) {

    article p.album-price a i.fa-heart{
        font-size: 50px;
        position: relative;
        bottom: 50px;
        right: 18%;
    }
    article h5.album-title{
        font-size: 25px;
    }
    button.boton-carrito{
        position: relative;
        top: -20px;
        font-size: 25px;
    }
    button.boton-carrito a{
        font-size: 23px;
    }
    p.album-price{
        font-size: 45px;
        position: relative;
        left: 15%;
    }
    article p.album-price{
        font-size: 45px;
        position: relative;
        left: 7.8%;
    }
    div.lista-numerica{
        margin-top:0.5%;
    }
    div h1{
        border-bottom: 8px solid #e0218a;
    }
}