<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesAbout.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>ZERO | Nosotros</title>
</head>

<body>

<!---------------------------NAV BAR----------------------------------->

    <%- include('./partials/header')%>

<!------------------------CARDS VERTICALES------------------------------>

<div><h1>Nosotros</h1></div>
<div>
    <div class="card1">
        <div class="img-class">
            <img src="/images/assets/vertical.jpg">
        </div>
        <div class="details">
            <h2>Título</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>

    <div class="card2">
        <div class="img-class">
            <img src="/images/assets/vertical2.jpg">
        </div>
        <div class="details">
            <h2>Título</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>

    <div class="card3">
        <div class="img-class">
            <img src="/images/assets/vertical3.jpg">
        </div>
        <div class="details">
            <h2>Título</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>

    <div class="card4">
        <div class="img-class">
            <img src="/images/assets/vertical4.jpg">
        </div>
        <div class="details">
            <h2>Título</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>

<!------------------------------IMÁGENES CON ZOOM------------------------------------>

<div class="container">
    <div class="box">
        <img src="/images/assets/imagen1.jpg">
        <span></span>
    </div>
    <div class="box">
        <img src="/images/assets/imagen2.jpg">
        <span></span>
    </div>
    <div class="box">
        <img src="/images/assets/imagen3.jpg">
        <span></span>
    </div>
    <div class="box">
        <img src="/images/assets/imagen4.jpg">
        <span></span>
    </div>
</div>

<!----------------------------FOOTER---------------------------------->

    <%- include ('./partials/footer') %> 

    </body>
    </html>

