<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesNewsLetter.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>ZERO | Noticias</title>
</head>

<body>

<!--------------------------------NAV BAR--------------------------------->

    <%- include('./partials/header')%>
<!----------------------------CARDS VERTICALES----------------------------->

<div><h1>Noticias</h1></div>

    <div class="grid-container">
        <div
        class="grid-item tall"
        style="background-image: url('https://i.pinimg.com/originals/59/0e/9a/590e9af311fbf1fff49bb611a32fe92d.jpg')"
        ></div>
        <div
        class="grid-item"
        class="grid-item wide"
        style="background-image: url('http://cdn.shopify.com/s/files/1/2291/6719/articles/cassettes-tapes-cmoing-back_600x.jpg?v=1563393744');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://www.emprendedores.es/wp-content/uploads/2021/07/iStock-1138344078-e1627375892433-1024x575.jpg');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://media.istockphoto.com/photos/dirty-turntable-and-record-on-formica-background-picture-id168324851?k=20&m=168324851&s=612x612&w=0&h=FaoQjvgLHScQnXvpmB56rumgOcAWbvwSjDhwUz77CBY=');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://www.lacupulamusic.com/shop/216-thickbox_default/fabricacion-cd-en-album-cd.jpg');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://ideakreativa.net/wp-content/uploads/2018/06/diseno-portada-album-musica.jpg');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://musicodiy.cdbaby.com/wp-content/uploads/2016/05/blocks-T3mKJXfdims-unsplash.jpg')"></div>
        <div
        class="grid-item"
        style="background-image: url('https://st2.depositphotos.com/1177973/9072/i/600/depositphotos_90729746-stock-photo-close-up-view-on-musical.jpg');"
        ></div>
        <div
        class="grid-item tall wide"
        style="background-image: url('https://escaramuza.com.uy/files/tmp/compressed/normal/3lv0m01dxcsfpwoez8iz.jpg');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://www.musicalortiz.com/wp-content/uploads/2020/08/Arpa.jpg');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://www.sarbidemusic.com/wp-content/uploads/2018/12/digipack-usb-music-kompact-600.jpg');"
        ></div>
        <div
        class="grid-item"
        style="background-image: url('https://i0.wp.com/elpoderdelasideas.com/wp-content/uploads/mejores-portadas-albums-universal-music.png?resize=800%2C400');"
        ></div>
    </div>

<!-----------------------------------FOOTER------------------------------------>
    <%- include ('./partials/footer') %> 

    
    </body>
    </html>