<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesWishlist.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>ZERO | Tú lista de deseos</title>
</head>

<body>

<!---------------------------------------NAV BAR-------------------------------------->

    <%- include('./partials/header')%>
    
<!------------------------------------CARDS VERTICALES------------------------------->

<div><h1>Tú lista de deseos</h1></div>

<!---------------------------------------BLOG CARDS------------------------------------>

<div class="container">
    <div class="row">
        <div class="card">
            <img id="imagen-blog" src="/images/albumes/img037.jpg" alt="">
            <p id="parrafo1">Nombre de Álbum</p>
            <p id="parrafo2">Nombre de Artista</p>
            <p id="parrafo3">$XX.xx</p>
            <p><i class="fas fa-trash"></i></p>
        </div>
    </div>

    <div class="row1">
        <div class="card1">
            <img id="imagen-blog" src="/images/albumes/img027.jpg" alt="">
            <p id="parrafo1">Nombre de Álbum</p>
            <p id="parrafo2">Nombre de Artista</p>
            <p id="parrafo3">$XX.xx</p>
        </div>
    </div>

    <div class="row1">
        <div class="card1">
            <img id="imagen-blog" src="/images/albumes/img031.jpg" alt="">
            <p id="parrafo1">Nombre de Álbum</p>
            <p id="parrafo2">Nombre de Artista</p>
            <p id="parrafo3">$XX.xx</p>
        </div>
    </div>

    <div class="row1">
        <div class="card1">
            <img id="imagen-blog" src="/images/albumes/img035.jpg" alt="">
            <p id="parrafo1">Nombre de Álbum</p>
            <p id="parrafo2">Nombre de Artista</p>
            <p id="parrafo3">$XX.xx</p>
        </div>
    </div>

    <div class="row1">
        <div class="card1">
            <img id="imagen-blog" src="/images/albumes/img046.jpg" alt="">
            <p id="parrafo1">Nombre de Álbum</p>
            <p id="parrafo2">Nombre de Artista</p>
            <p id="parrafo3">$XX.xx</p>
        </div>
    </div>

    <div class="row1">
        <div class="card1">
            <img id="imagen-blog" src="/images/albumes/img074.jpg" alt="">
            <p id="parrafo1">Nombre de Álbum</p>
            <p id="parrafo2">Nombre de Artista</p>
            <p id="parrafo3">$XX.xx</p>
        </div>
    </div>

</div>


<!----------------------------------------FOOTER-------------------------------->

    <%- include ('./partials/footer') %> 
    
    </body>
    </html>

