<header>

    <nav class="nav-bar">
        <div class="enlace">
            <a href="/"><img class="logo" src="/images/assets/ZeroLOGOwhite.png" alt="logo"></a>
        </div>

        <ul class="nav-bar-accesos">
            <li><a href="/products/productList">Productos</a></li>
            <li><a href="/about">Nosotros</a></li>
        </ul>

    <form action="/products/search" method="get">
        <div class="search-bar">
            <input class="search-input" type="text" placeholder="¿Qué estás buscando?" name="search"><br>
            <button class="search-button" type="submit">
            <i class="fas fa-search"></i>
        </div>
    </form>


        <% if (locals.isLogged) { %>
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/products/wishList"><i class="fas fa-heart" id="heart"></i></a>
            <a href="/profile"><i class="fas fa-user-circle"></i></a>
            <a href="/user/logout"><i class="fas fa-sign-out-alt"></i></a>
            <% if (locals.isLogged && locals.userLogged.roles_ID == 1) { %>
                <a href="/products/productAdd"><i class="fas fa-plus-circle"></i></i></a>
            <% } %>
        <% } else { %>
            <a href="/user/login"><i class="fas fa-user-circle"></i></a>
            <a href="/user/register"><i class="far fa-address-card"></i></a>
            <% } %>
            
            <i class="fas fa-bars"></i>
    </nav>

</header>


